<% provide(:title, "全てのユーザー") %>
<div class="container">
  <div class="text-center">
    <h1>全てのユーザー</h1>
    <ul class="list-group pt-2">
      <% @users.each do |user| %>
        <li class="list-group-item h5">
          <%= link_to user.name, "users/#{user.id}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
