<h1>ID: <%= @user.id%></h1>
<h1>NAME: <%= @user.name %></h1>

<% if current_user?(@user) %>
<%= link_to "DELETE", "/users/#{current_user.id}", method: :delete, data: { confirm: "削除しますか？"} %>
<% end %>
