<div class="container">
  <div class="text-center">
    <ul class="list-group pt-2 pb-3">
      <li class="list-group-item h2">
      <%= @user.id %>. <%= @user.name %>
      </li>
    </ul>
    <h2>User's Microposts(<%= @microposts.all.count %>)</h2>
    <ul class="list-group">
      <%= render 'microposts/micropost' %>
    </ul>
  </div>
</div>
