<% if @user.errors.any? %>
  <div class="alert alert-danger">
    The form contations <%= pluralize(@user.errors.count, "error") %>.
  </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <strong><li class="text-danger"><%= msg %></li></strong>
      <% end %>
    </ul>
<% end %>
