<footer class="footer mt-3 bg-dark fixed-bottom">
  <div class="text-white text-center container">
    <div class="pb-3 pt-3">リンク: <%= link_to '私のポートフォリオ', 'https://llbzv396.github.io/portfolio', class: "text-white" %>
    </div>
  </div>
</footer>
